body {
  background-color: #2d2d2d;
}

#container {
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}

.service {
  border: 2px solid #aaaaaa;
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
}

a {
  color: white;
  text-decoration: none;
}